<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Events
        </a>
        <p class="navbar-text pull-right">
            <a href="#/event/new" class="navbar-link">
              <span class="glyphicon glyphicon-plus">
              </span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="event in model.events" class="list-group-item">
            <a>{{event.name}}</a>
            <a href="#/event/{{event._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>