<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-9 pageColor">
            <b>Page: </b>
            <a ng-hide="{{model.pageIdx}}===1" href="#/event/readonly?page={{model.pageIdx-1}}"><span class="glyphicon glyphicon-menu-left"></span></a>

            <!--<a ng-repeat="n in model.getNumber(model.pageNum) track by $index">{{$index+1}} </a>-->
            <a>{{model.pageIdx}} </a>

            <a ng-hide="model.reachLastPage()" href="#/event/readonly?page={{model.pageIdx+1}}"><span class="glyphicon glyphicon-menu-right"></span></a>
        </div>

        <div class="col-xs-6 col-md-3 accountNum">
                <span ng-show="!model.user"> <a>Hello, guest.</a>  </span>
                <span ng-show="model.user"> <a>Hello, {{model.user.username}}.</a>  </span>
        </div>

    </div>

    <hr>

    <ul class="list-group">
        <li ng-repeat="event in model.events" class="list-group-item">
            <div class="eventTitle"><a href="#/event/readonly/{{event._id}}">{{event.name}}</a></div>
            <div class="row">
                <div class="col-sm-1 eventDate"> {{event.month}}<br/><b> {{event.day}} </b> </br>{{event.weekday}}</div>
                <div class="col-sm-3"><img width="100%" ng-src="{{event.imageUrl}}"/></div>
                <div class="col-sm-5">{{event.description}}</div>
                <div class="col-sm-2">
                    <div class="address"><b>Address:</b><br/> {{event.location}} <br /></div>
                    <button ng-click="model.attendEvent(event._id)" ng-show="!model.isAttending(event._id)" class="pull-left btn btn-attend btn-space"> Attend</button>
                    <button ng-click="model.unattendEvent(event._id)" ng-show="model.isAttending(event._id)" class="pull-left btn btn-unattend btn-space"> Unattend</button>
                </div>
            </div>
        </li>
    </ul>
</div>